<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>엘르 코리아(ELLE KOREA)</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
    <div id="container">
        <header>
            <div class="h-top">
                <div class="h-top-menu">
                    <div class="h-t-m-left">
                        <button type="button" class="h-t-menu-button"><i class="fa-solid fa-bars"></i></button>
                        <a href="/" class="top-logo"><img src="/static/images/logo.png" alt="logo"></a>
                    </div>
                    <div class="h-t-m-right">
                        <a href="/">LOGIN</a>
                        <a href="/">SIGNUP</a>
                        <button type="button" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="h-top-main">
                    <a href="/"><img src="/static/images/logo2.png" alt="logo"></a>
                </div>
                <nav>
                    <ul class="nav-ul">
                        <li>FASHION</li>
                        <li>BEAUTY</li>
                        <li>STAR</li>
                        <li>HOROSCOPE</li>
                        <li>DECOR</li>
                    </ul>
                </nav>
            </div>
        </header>
        <article>
            <img class="slide-offset" src="/static/images/mainbanner-background.png" alt="">
            <div class="main-slide">
                <ul class="main-slide-img-list">
                    <li>
                        <img class="slideimg" src="/static/images/mainbannerimg1.jpg" alt="">
                        <div class="text-box">
                            <strong>꽃으로 표현한 서른의 여자</strong>
                            <span>6인의 플로리스트가 저마다의 손길로 피워낸 서른살의 여자(ELLE),그 화려하고 소박하며 때로는 강인한 면면들</span>
                        </div>
                    </li>
                    <li>
                        <img class="slideimg" src="/static/images/mainbannerimg2.png" alt="">
                        <div class="text-box">
                            <strong>스타일 지수 올려주는, 비니 쇼핑 리스트</strong>
                            <span>머리 위에 푹 눌러쓴 존재감.</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content1">
                <h1>THE LASTEST HOT ISSUE</h1>
                <div class="chart-img">
                    <img src="/static/images/img1.png" alt="">
                    <img src="/static/images/img2.png" alt="">
                    <img src="/static/images/img3.png" alt="">
                </div>
                <ul class="content1-1">
                    <li>
                        <img src="/static/images/content3img.gif" alt="">
                        <p>지금 사야 이득인 3건의 협업 스니커즈</p>
                    </li>
                    <li>
                        <img src="/static/images/content1img.jpg" alt="">
                        <p>아름다운 피아노의 선율과 탁 트인 북한강을 한 번에! 남양주 힐링 명소 3 #소도시 여행</p>
                    </li>
                    <li>
                        <img src="/static/images/content2img.jpg" alt="">
                        <p>와칸다의 여성들_요주의 여성 #74</p>
                    </li>
                </ul>
            </div>
            <div class="content2">
                <h3>엘르보이스</h3>
                <h1>내 고민에 레퍼런스가 필요할 때</h1>
                <span>동시대 여성들의 힘찬 이야기로 삶에 영감을 불어넣습니다.</span>
                <ul class="reference-list">
                    <li>
                        <img src="/static/images/ellevoice1.png" alt="">
                        <span>'쉬헐크'로 사는 건 피곤해.. 요주의 여성 #70</span>
                    </li>
                    <li>
                        <img src="/static/images/ellevoice2.png" alt="">
                        <span>브라보, 엠마 톰슨_요주의 여성 #69</span>
                    </li>
                    <li>
                        <img src="/static/images/ellevoice3.png" alt="">
                        <span>[엘르 보이스] 뮤지션 김사월은 이제 당당하게 말하기로 결심했다, 나는 비건 라이프를 지향한다고!</span>
                    </li>
                    <li>
                        <img src="/static/images/ellevoice4.png" alt="">
                        <span>'지락실' 보면서 웃어요_요주의여성 #68</span>
                    </li>
                    <li>
                        <img src="/static/images/ellevoice5.png" alt="">
                        <span>[엘르 보이스] 일에도 적절한 보상이 필요해! 챌린지 앱처럼 일하기</span>
                    </li>
                    <li>
                        <img src="/static/images/ellevoice6.png" alt="">
                        <span>도망친 엄마들_요주의여성 #67</span>
                    </li>
                    <li>
                        <img src="/static/images/ellevoice7.png" alt="">
                        <span>[엘르 보이스] 문과생이 운동 코치가 될 확률은? 근력만 있으면 다 할 수 있다</span>
                    </li>
                    <li>
                        <img src="/static/images/ellevoice8.png" alt="">
                        <span>'작은 아씨들'의 큰 이야기_요주의여성 #71</span>
                    </li>
                </ul>
            </div>
            <div class="content3">
                <aside class="content3-1">
                    <a href="/"><img src="/static/images/asideimg1.jpg" alt="" class="content3-1-1"></a>
                    <div class="content3-1-2">
                        <h2>WEEKLY HOT ISSUE</h2>
                        <img src="/static/images/asideimg2.jpg" alt="">
                        <span>편의점 비닐봉투, 이제 돈 주고도 못 산다? 퇴출당하는 일회용품 정보 모음.zip</span>
                    </div>
                    <ul class="content3-1-3">
                        <li>
                            <img src="/static/images/asideimgmini1.jpg" alt="">
                            <span>이미 순식간에 와판된 #서울사랑상품권 손에 넣으려면? 피켓팅 정보 총정리</span>
                        </li>
                        <li>
                            <img src="/static/images/asideimgmini2.jpg" alt="">
                            <span>너무 귀여워! 미니 어그 5</span>
                        </li>
                        <li>
                            <img src="/static/images/asideimgmini3.jpg" alt="">
                            <span>전 남친과 현 남친이 나와 같은 공간에?! 춥디 추운 '환승연애2' 출연진 모임 근황.jpg</span>
                        </li>
                    </ul>
                </aside>
                <div class="content3-2">
                    <ul class="content3-2-1">
                        <li>
                            <img src="/static/images/articleimg1.png" alt="">
                            <strong>뵈브클리코 샴페인이 한결같은 맛과 품질을 유지하는 이유</strong>
                            <span>뵈브 클리코 옐로우 레이블부터 라 그랑 담 1990 빈티지 레이블까지, 와인메이커 마리샤를마뉴와 함께 뵈브 클리코 샴페인에 관해 나눈 스몰 토크.</span>
                        </li>
                        <li>
                            <img src="/static/images/articleimg2.png" alt="">
                            <p>SOCIERY</p>
                            <strong>한 해를 마무리할 땐 이거! 올해의 마지막 책</strong>
                            <span>2022년이 가기 전 읽기에 딱! 따끈따끈한 신간 도서.</span>
                        </li>
                    </ul>
                    <ul class="content3-2-2">
                        <li>
                            <img src="/static/images/articleimg3.png" alt="">
                            <p>FASHION</p>
                            <strong>요즘 세대 치어리더들이 선택한 언더아머</strong>
                            <span>치어리딩 리얼리티 예능 &#60;스테이지 업&#62;의 다섯 주역들이 선보이는 언더아머 22F/W 스타일링.</span>
                        </li>
                        <li>
                            <img src="/static/images/articleimg4.png" alt="">
                            <p>LOVE & LIFE</p>
                            <strong>디테일 무슨 일? 키덜트 설레게 하는 '신상' 프리미엄 미니카 정보 총정리!</strong>
                        </li>
                    </ul>
                </div>
                <div class="youtube-link">
                    <ul class="video-list">
                        <li>
                            <iframe allowfullscreen class="youtube-video" frameborder="0" src="https://www.youtube.com/embed/Sxv97T9ScEQ?enablejsapi=1&version=3&playerapiid=ytplayer&modestbranding=1&ytp-pause-overlay=0&rel=0" ></iframe>
                            <strong>"순수함의 아이콘?" 소신이 가장 중요한 공유! 엘르 X 샤넬 6인 숏 인터뷰</strong>
                        </li>
                        <li>
                            <iframe allowfullscreen class="youtube-video" frameborder="0" src="https://www.youtube.com/embed/yFQwCxsbcSE?enablejsapi=1&version=3&playerapiid=ytplayer&modestbranding=1&ytp-pause-overlay=0&rel=0" ></iframe>
                            <strong>티셔츠에 미니백. 제니의 아이코닉한 스타일링은? 엘르 X 샤넬 6인 숏 인터뷰</strong>
                        </li>
                        <li>
                            <iframe allowfullscreen class="youtube-video" frameborder="0" src="https://www.youtube.com/embed/1hTCnPs5u7U?enablejsapi=1&version=3&playerapiid=ytplayer&modestbranding=1&ytp-pause-overlay=0&rel=0" ></iframe>
                            <strong>클래식 vs. 모던? 이성경의 선택은! 엘르 X 샤넬 6인 숏 인터뷰</strong>
                        </li>
                    </ul>
                </div>
                <div class="content4">
                    <ul class="content4-1">
                        <li>
                            <img src="/static/images/articleimg5.png" alt="">
                            <p>FASHION</p>
                            <strong>꽃으로 표현한 서른의 여자</strong>
                            <span>6인의 플로리스트가 저마다의 손길로 피워낸 서른 살의 여자(ELLE), 그 화려하고 소박하며 때로는 강인한 면면들</span>
                        </li>
                        <li>
                            <img src="/static/images/articleimg6.png" alt="">
                            <p>BEAUTY</p>
                            <strong>순간을 향기로 채워줄 보디 워시 7</strong>
                            <span>치열한 하루를 마치고 새로운 내일을 만나기 위한 나만의 시간.</span>
                        </li>
                    </ul>
                    <ul class="content4-2">
                        <li>
                            <img src="/static/images/articleimg7.png" alt="">
                            <p>BEAUTY</p>
                            <strong>의지가 약해서? NO! 당신의 다이어트가 항상 실패했던 ‘진짜’ 이유</strong>
                            <span>-15kg 감량 중인 에디터의 다이어트 팁</span>
                        </li>
                        <li>
                            <img src="/static/images/articleimg8.png" alt="">
                            <p>SOCIETY</p>
                            <strong>트수들 기절초풍하는 소리?! 트위치, 720p 화질 제한에 이어 VOD 중단까지</strong>
                        </li>
                    </ul>
                </div>
                <div class="content5">
                    <a href="/" class="content5-1"><img src="/static/images/asideimg1.jpg" alt="" ></a>
                    <div class="content5-2">
                        <img src="/static/images/asideimg3.jpg" alt="">
                        <strong>여성의 삶, 레퍼런스가 필요하다면? 뉴스레터 &#60;엘르보이스&#62;! </strong>
                        <span>작가, 북튜버, 아나운서, 싱어송라이터, 기자의 목소리를 담은 인생 고민 지침서</span>
                    </div>
                    <div class="content5-3">
                        <img src="/static/images/asideimg4.jpg" alt="">
                        <strong>더 새로워진 멤버십 포인트 안내 </strong>
                        <span>더 많은 포인트 혜택을 받아보세요!</span>
                    </div>
                </div>
                <div class="content6">
                    <ul class="content6-1">
                        <li>
                            <img src="/static/images/articleimg9.png" alt="">
                            <p>CULTURE</p>
                            <strong>고든 램지가 '편스토랑'에 나온다고? (feat. 박수홍)</strong>
                        </li>
                        <li>
                            <img src="/static/images/articleimg10.png" alt="">
                            <p>STAR</p>
                            <strong>팝스타 릴 나스 엑스와 손잡은 ‘코치’를 주목해야 하는 이유</strong>
                            <span>보다 멋진 브랜드, 코치가 한결같이 이야기하는 것은 단 하나. '패션은 자신을 자유롭게 표현하는 수단 자체로 의미 있다'라는 것</span>
                        </li> 
                        <li>
                            <img src="/static/images/articleimg11.png" alt="">
                            <p>SOCIETY</p>
                            <strong>고금리 예적금 가입하기 전 꼭 체크하세요_돈쓸신잡 #71</strong>
                        </li>
                    </ul>
                    <ul class="content6-2">
                        <li>
                            <img src="/static/images/articleimg12.png" alt="">
                            <p>FASHION</p>
                            <strong>실용성과 아름다움을 탐구한 펜디의 2023 S/S 컬렉션</strong>
                            <span>아카이브를 지표로 킴 존스가 재해석한 펜디의 뉴 포트레이트.</span>
                        </li>
                        <li>
                            <img src="/static/images/articleimg13.png" alt="">
                            <p>FASHION</p>
                            <strong>청순 혹은 화려! 드라마 &#60;금수저&#62; 정채연 VS 연우 #VS드라마패션</strong>
                            <span>걸그룹 멤버에서 배우로! 드라마 &#60;금수저&#62;를 통해 열연을 펼치고 있는 정채연과 연우. 각기 다른 매력을 뽐내는 두 배우의 작품 속 패션 스타일링을 소개합니다.</span>
                        </li>
                        <li>
                            <img src="/static/images/articleimg14.png" alt="">
                            <p>BEAUTY</p>
                            <strong>예쁜 게 최고야! 예쁜 걸로 소문난 국내 뷰티 브랜드 모음.zip</strong>
                            <span>차세대 뷰티 브랜드가 될 상!</span>
                        </li>
                    </ul>
                </div>
                <div class="content7">
                    <div class="content7-1">
                        <h2>줄 서기 전에 가보자, 신상 맛집!</h2>
                        <div>
                            <span>#신상맛집</span>
                            <button type="button">More &#62;</button>
                        </div>
                        <ul class="content7-1-1">
                            <li>
                                <a href="/"><img src="/static/images/mainbannerimg1.jpg" alt=""></a>
                                <span>배운 사람들이 만든 육즙 가득 교자와 그림 같은 마들렌! 합정에 새로 생긴 #신상맛집 3</span>
                            </li>
                            <li>
                                <a href="/"><img src="/static/images/mainbannerimg2.jpg" alt=""></a>
                                <span>악마의 '단짠' 베이컨 도넛과 싱그러운 셔벗이 있는 망원동 카페 3 #신상맛집</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content7-2">
                        <h2>소도시로 떠나는 감성 여행</h2>
                        <div>
                            <span>#소도시여행</span>
                            <button type="button">More &#62;</button>
                        </div>
                        <ul class="content7-2-1">
                            <li>
                                <a href="/"><img src="/static/images/trip1.png" alt=""></a>
                                <span>임진강 하늘계단과 에메랄드빛 폭포 보면서 삼국시대 역사 공부까지? 연천 감성 명소3 #소도시여행</span>
                            </li>
                            <li>
                                <a href="/"><img src="/static/images/trip2.png" alt=""></a>
                                <span>대전에서 가을 감성 酒간이 열린다고? 한빛 야시장 축제 총정리!</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content8">
                    <ul class="content8-1">
                        <li>
                            <img src="/static/images/articleimg15.png" alt="">
                            <p>FASHION</p>
                            <strong>하이 주얼리 브랜드의 친환경 인증에 대한 다섯 가지 질문</strong>
                            <span>지속 가능한 주얼리는 결코 유행을 타지 않는다.</span>
                        </li>
                        <li>
                            <img src="/static/images/articleimg16.png" alt="">
                            <p>SOCIETY</p>
                            <strong>세상을 바꾼 100명의 여성들! 아트</strong>
                            <span><엘르> 45개국 에디션이 선정한 변화를 이끌고, 새로운 질문을 던지고, 우리 마음을 움직인 전 세계 100명의 여성들. 정치, 경제, 사회, 문화, 과학, 스포츠, 예술과 패션, 뷰티 등 영역을 막론하고 뜻을 펼쳐나가는 단단한 100개의 얼굴과 이름을 바라볼 것. 더 많이 불려지고 기억되어야 할 이름이니까.</span>
                        </li> 
                        <li>
                            <img src="/static/images/articleimg17.png" alt="">
                            <p>STAR</p>
                            <strong>바둑 역사상 최초! 세게 메이저 준우승한 여성 기사 최정 9단이 맞서온 편견</strong>
                            <span>사회적 편견 뿐만 아니라, 스스로가 가진 편견도 넘어야 했다.</span>
                        </li>
                    </ul>
                    <ul class="content8-2">
                        <li>
                            <img src="/static/images/articleimg18.png" alt="">
                            <p>SOCIETY</p>
                            <strong>트위터 '파딱' 유료화, 하루 아침에 직원 50% 해고? 일론 머스크의 대환장 칼춤 퍼레이드.zip</strong>
                        </li>
                        <li>
                            <img src="/static/images/articleimg19.png" alt="">
                            <p>BEAUTY</p>
                            <strong>홀리데이를 위한 샤넬의 향수 컬렉션</strong>
                            <span>2022년은 달과 별에서 영감을 받은 리미티드 에디션을 출시한다.</span>
                        </li>
                        <li>
                            <img src="/static/images/articleimg20.png" alt="">
                            <p>BEAUTY</p>
                            <strong>샤넬 홀리데이 하이라이트!</strong>
                            <span>달에서 영감을 받은 샤넬 메이크업 컬렉션이 리미티드 에디션으로 출시된다.</span>
                        </li>
                    </ul>
                </div>
                <div class="content9">
                    <div class="content9-h">
                        <h2>MOST LINKED ARTICLES</h2>
                        <ul class="content9-h-manu">
                            <li>ALL</li>
                            <li>FASHION</li>
                            <li>BEAUTY</li>
                            <li>STAR</li>
                            <li>CULTURE</li>
                            <li>DECOR</li>
                            <li>LOVE & LIFE</li>
                        </ul>
                    </div>
                    <ul class="content9-b">
                        <li>
                            <img src="/static/images/content1img.jpg" alt="">
                            <div>
                                <h2>1</h2>
                                <strong>아름다운 피아노의 선율과 탁 트인 북한강을 한 번에! 남양주 힐링 명소 3 #소도</strong>
                            </div>
                        </li>
                        <li>
                            <img src="/static/images/articleimg1.png" alt="">
                            <div>
                                <h2>2</h2>
                                <strong>뵈브클리코 샴페인이 한결같은 맛과 품질을 유지하는 이유</strong>
                            </div>
                        </li>
                        <li>
                            <img src="/static/images/content3img.gif" alt="">
                            <div>
                                <h2>3</h2>
                                <strong>지금 사야 이득인 3건의 협업 스니커즈</strong>
                            </div>
                        </li>
                        <li>
                            <img src="/static/images/content2img.jpg" alt="">
                            <div>
                                <h2>4</h2>
                                <strong>와칸다의 여성들_요주의 여성 #74</strong>
                            </div>
                        </li>
                        <li>
                            <img src="/static/images/articleimg2.png" alt="">
                            <div>
                                <h2>5</h2>
                                <strong>한 해를 마무리할 땐 이거! 올해의 마지막 책</strong>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content10">
                    <ul class="subscribe">
                        <li>
                            <div class="sub-left">
                                <i class="fa-regular fa-calendar-check"></i>
                                <h3>ELLE Subscribe</h3>
                                <span> 
                                    소장하는 즐거움,
                                    넘겨보는 재미!
                                    정기구독으로 만나보세요.
                                </span>
                                <button type="button">신청하기</button>
                            </div>
                            <div class="sub-right">
                                <img src="/static/images/subscribe1.jpg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="sub-left">
                                <i class="fa-brands fa-instagram"></i>
                                <h3>ELLE Instagram</h3>
                                <span> 
                                    실시간으로 업데이트 되는
                                    ELLE의 최신소식
                                </span>
                                <button type="button">팔로우하기</button>
                            </div>
                            <div class="sub-right">
                                <img src="/static/images/subscribe2.jpg" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <footer>
            <div class="f-left">
                <img src="/static/images/logo.png" alt="">
                <div class="links">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
            <div class="f-right">
                <ul>
                    <li>매체소개</li>
                    <li>고객센터</li>
                    <li>포인트정책</li>
                    <li>개인정보처리방침</li>
                    <li>이용약관</li>
                    <li>이메일무단수집금지</li>
                    <li>광고·제휴문의</li>
                    <li>윤리경영</li>
                </ul>
                <address>
                    허스트중앙(유)
                    서울시 강남구 도산대로 156(논현동)
                    대표자:강주연 사업자등록번호:104-81-55280 통신판매업신고: 제 2014-서울강남-00333호
                    대표번호:02-3017-2580 이메일:elle.korea@joins.com

                    © 2020 Heast Joongang. All Rights Reserved.
                </address>
            </div>
        </footer>
    </div>

    
</body>
</html>